.User-list {
  list-style: none;
}

.Avatar {
  text-align: center;  
}

.Avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Avatar h4 {
  text-transform: capitalize;
  color: darkblue;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.content {
  background-color: white;
  margin: auto;
}